<h2 mat-dialog-title>
  {{ data.title }}
</h2>

<mat-dialog-content>
  {{ data.message }}
</mat-dialog-content>

<mat-dialog-actions align="end">

  <button 
    mat-button 
    (click)="cancelar()">
    {{ data.cancelText }}
  </button>

  <button 
    mat-flat-button
    color="warn"
    (click)="confirmar()">    
    {{ data.confirmText }}
  </button>

 @if (data.useConfirmTextAdic) {
  <button
    mat-flat-button
    color="primary"
    (click)="confirmarAdicional()">
    {{ data.confirmTextAdic }}
  </button>
}

</mat-dialog-actions>
