<div class="dialog-header">

  <div class="dialog-header-content">

    <mat-icon
      class="dialog-header-icon"
      [class.danger]="data.type === 'danger'"
      [class.warning]="data.type === 'warning'"
      [class.success]="data.type === 'success'">
      {{ icon }}
    </mat-icon>

    <span class="dialog-title">
      {{ data.title }}
    </span>

  </div>

</div>

<mat-dialog-content class="confirm-dialog-content">

  <p class="dialog-message">
    {{ data.message }}
  </p>

</mat-dialog-content>

<mat-dialog-actions align="end">

  @if (data.cancelText?.trim()) {
    <button
      mat-button
      (click)="cancelar()">
      {{ data.cancelText }}
    </button>
  }

  @if (data.confirmText?.trim()) {
    <button
      mat-flat-button
      [color]="buttonColor"
      (click)="confirmar()">
      {{ data.confirmText }}
    </button>
  }

  @if (data.confirmTextAdic?.trim()) {
    <button
      mat-flat-button
      color="primary"
      (click)="confirmarAdicional()">
      {{ data.confirmTextAdic }}
    </button>
  }

</mat-dialog-actions>