<div class="flex items-center justify-between mb-4">
  <button mat-button color="primary" (click)="volver()">
    <mat-icon>arrow_back</mat-icon>
    Volver
  </button>

  <button
    mat-icon-button
    type="button"
    matTooltip="Ver tour guiado"
    (click)="iniciarTour()"
  >
    <mat-icon>help_outline</mat-icon>
  </button>
</div>

<!--@if (documento(); as doc) {-->

  <app-documento-resumen    
    [documento] = "documento()"
    (nuevaVersionHtml)="nuevaVersion($event)">
  </app-documento-resumen>

  <app-html-versiones-table
    [resultadosHtml]="resultadosHtml()"
    (descargarHtml)="descargar($event)"
    (previsualizarHtml)="previsualizar($event)"
    (eliminarHtml)="eliminar($event)">
  </app-html-versiones-table>

<!--}-->