@use "variables" as *;

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  line-height: 1.334rem;
  overflow-x: hidden;
  color: var(--mat-sys-on-background);
}

.mainWrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex: 1;
  height: 100%;
}

.container {
  max-width: 1320px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;

  &.full-width {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.pageWrapper {
  padding: 24px;
  min-height: calc(100vh - 70px);

  margin: 0 auto;

  &.maxWidth {
    max-width: $boxedWidth;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-muted {
  color: var(--mat-sys-surface-container-lowest);
}

a {
  color: var(--mat-sys-on-background);

  &:hover {
    color: var(--mat-sys-primary);
  }
}

.filter-sidebar {

  &.open {
    right: 0;
  }
}

pre {
  margin: 0;
  white-space: nowrap;
}

td.hljs-ln-line.hljs-ln-numbers {
  padding-right: 10px;
}

.mat-drawer[style*="visibility: hidden"] {
  display: none;
}

.ng-scroll-viewport[_nghost-ng-c2407083653]>.ng-scroll-content[_ngcontent-ng-c2407083653],
.ng-scrollbar-external-viewport[_nghost-ng-c2407083653] .ng-scroll-viewport>.ng-scroll-content {
  width: 100% !important;
}