<div class="h-screen flex items-center justify-center">
  <div class="text-center">
    <mat-icon class="!text-[96px] !w-[96px] !h-[96px] text-error mb-5!">lock</mat-icon>
    <h1 class="sm:text-6xl text-4xl font-bold text-error mb-3!">403</h1>
    <h2 class="sm:text-4xl text-2xl font-bold sm:leading-[45px]! mb-5!">Acceso Denegado</h2>
    <h6 class="text-xl font-semibold mb-8!">No tiene permiso para acceder a esta página.</h6>
    <a mat-flat-button [routerLink]="['/inicio']">Volver al Inicio</a>
  </div>
</div>
