<div class="h-screen flex items-center justify-center">
  <div class="text-center">
    <mat-icon class="!text-[96px] !w-[96px] !h-[96px] text-primary mb-5!">search_off</mat-icon>
    <h1 class="sm:text-6xl text-4xl font-bold text-primary mb-3!">404</h1>
    <h2 class="sm:text-4xl text-2xl font-bold sm:leading-[45px]! mb-5!">Página no encontrada</h2>
    <h6 class="text-xl font-semibold mb-8!">No se ha podido encontrar la página que busca.</h6>
    <a mat-flat-button [routerLink]="['/inicio']">Volver al Inicio</a>
  </div>
</div>