.dropzone {
  border: 2px dashed var(--mat-sys-outline-variant);
  border-radius: 16px;
  min-height: 220px;
  padding: 2rem;
  cursor: pointer;
  //transition: all 0.25s ease;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone:hover {
  border-color: var(--mat-sys-primary);
  background: color-mix(
    in srgb,
    var(--mat-sys-primary) 8%,
    var(--mat-sys-surface)
  );
}

.dragging {
  border-color: var(--mat-sys-primary);
  background: color-mix(
    in srgb,
    var(--mat-sys-primary) 12%,
    var(--mat-sys-surface)
  );
  transform: scale(1.01);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.icon {
  font-size: 72px;
  width: 72px;
  height: 72px;
  color: var(--mat-sys-primary);
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name {
  font-weight: 600;
  color: var(--mat-sys-on-surface);
}

.size {
  color: var(--mat-sys-on-surface-variant);
  font-size: 0.85rem;
}

.error {
  color: var(--mat-sys-error);
  margin-top: 0.5rem;
}