<mat-card class="cardWithShadow">
  <mat-card-content class="border-t border-border p-6!">

        <a href="/" class="logodark">
          <img
            src="./assets/images/logos/Logo_bigsa.png"
            class="logo"
            alt="Bigsa Gestor"
          />
        </a>

        <a href="/" class="logolight">
          <img
            src="./assets/images/logos/Logo_bigsa_dark.png"
            class="logo"
            alt="Bigsa Gestor"
          />
        </a>

        <h1>Bienvenido a Bigsa Gestor</h1>

        <p>Seleccione una opción del menú lateral para comenzar.</p>

  </mat-card-content>
</mat-card>
