<div class="relative overflow-hidden h-screen">
  <div class="grid grid-cols-12 gap-3 h-screen">
    <div class="xl:col-span-8 lg:col-span-7 col-span-12 bg-light-primary relative">
      <div class="p-6 h-full">
        <app-branding></app-branding>

        <div class="items-center justify-center h-full hidden lg:flex">
          <img src="/assets/images/backgrounds/login-bg.svg" alt="login" style="max-width: 500px" />
        </div>
      </div>
    </div>
    <div class="xl:col-span-4 lg:col-span-5 col-span-12 sm:px-12 p-5">
      <div class="flex lg:h-screen items-center lg:px-3 lg:justify-start justify-center">
        <div class="max-w-[420px] w-full mx-auto">
          <h4 class="font-bold text-2xl m-0">Welcome to Modernize</h4>
          <span class="block text-sm mt-2">Your Admin Dashboard</span>

          <div class="grid grid-cols-12 gap-6 mt-6">
            <div class="col-span-6">
              <button mat-stroked-button class="w-full">
                <div class="flex items-center">
                  <img src="/assets/images/svgs/google-icon.svg" alt="google" width="18" class="me-2" />
                  Google
                </div>
              </button>
            </div>
            <div class="col-span-6">
              <button mat-stroked-button class="w-full flex items-center">
                <div class="flex items-center">
                  <img src="/assets/images/svgs/github-icon.svg" alt="facebook" width="20" class="me-2" />
                  Github
                </div>
              </button>
            </div>
          </div>

          <div
            class="or-border relative text-center before:content-[''] before:absolute before:left-0 before:top-1/2 
            before:w-[120px] before:h-px before:bg-(--mat-sys-outline) after:content-[''] after:absolute after:right-0 after:top-1/2 after:w-[120px] after:h-px after:bg-(--mat-sys-outline) mt-8">
            or sign up with</div>

          <form class="mt-8" [formGroup]="form" (ngSubmit)="submit()">
            <mat-label class="text-sm font-semibold mb-3 block">Name</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput formControlName="uname" />
              @if(f['uname'].touched && f['uname'].invalid) {
              <mat-hint class="mb-4 absolute -top-[19px] right-[3px]">
                @if(f['uname'].errors && f['uname'].errors['required']) {
                <div class="text-error">Name is required.</div>
                } @if(f['uname'].errors && f['uname'].errors['minlength']) {
                <div class="text-error">Name should be 6 character.</div>
                }
              </mat-hint>
              }
            </mat-form-field>
            <!-- email -->
            <mat-label class="text-sm font-semibold mb-3 block">Email Address</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput type="email" formControlName="email" />
              @if(f['email'].touched && f['email'].invalid) {
              <mat-hint class="mb-4 absolute -top-[19px] right-[3px]">
                @if(f['email'].errors && f['email'].errors['required']) {
                <div class="text-error">Email is required.</div>
                }
              </mat-hint>
              }
            </mat-form-field>
            <!-- password -->
            <mat-label class="text-sm font-semibold mb-3 block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput type="password" formControlName="password" />
              @if(f['password'].touched && f['password'].invalid) {
              <mat-hint class="mb-4 absolute -top-[19px] right-[3px]">
                @if( f['password'].errors && f['password'].errors['required'])
                {
                <div class="text-error">Password is required.</div>
                }
              </mat-hint>
              }
            </mat-form-field>

            <button mat-flat-button color="primary" class="w-full" [disabled]="!form.valid">
              Sign Up
            </button>
            <!-- input -->
          </form>
          <span class="font-medium block mt-6">Already have an Account?

            <a [routerLink]="['/authentication/login']" class="no-underline text-primary font-medium text-sm">
              Sign In</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>